<div class="app-main__inner">
  <div class="row">
    <div class="col-md-12">
      <div class="main-card mb-3 card">
        <div class="card-header">
          Usuarios
        </div>
        <br>
        <div class="table-responsive">
          <div class="col-md-12">
            <table id="table-users" class="align-middle mb-0 table table-borderless table-striped table-hover display">
              <thead>
              <tr>
                <th class="text-center">Id</th>
                <th>Nombre / Email</th>
                <th class="text-center">Teléfono</th>
                <th class="text-center">Última conexión</th>
                <th class="text-center">Rol</th>
                <th class="text-center">Acciones</th>
              </tr>
              </thead>
              <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td class="text-center text-muted"><%= user.id %></td>
                  <td>
                    <div class="widget-content p-0">
                      <div class="widget-content-wrapper">
                        <div class="widget-content-left flex2">
                          <div class="widget-heading"><%= user.full_name %></div>
                          <div class="widget-subheading opacity-7"><%= user.email %></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="text-center"><%= pretty_phone(user.phone) %></td>
                  <td class="text-center"><%= pretty_time_hhmm(user.current_sign_in_at) %></td>
                  <td class="text-center"><%= pretty_role(user.role) %></td>
                  <td class="text-center">
                    <button type="button" class="btn mr-2 mb-2 btn-primary" data-toggle="modal" data-target="#form-modal" onclick="reloadModal(<%= user.id %>)">Large modal</button>
                    <%= link_to '<i class="pe-7s-look btn-icon-wrapper"> </i>'.html_safe, user, class: "mr-2 btn-icon btn-icon-only btn btn-primary btn-sm" %>
                    <%= link_to '<i class="pe-7s-pen btn-icon-wrapper"> </i>'.html_safe, edit_user_path(user), class: "mr-2 btn-icon btn-icon-only btn btn-warning btn-sm" %>
                    <%= link_to '<i class="pe-7s-trash btn-icon-wrapper"> </i>'.html_safe, user, method: :delete, data: { confirm: '¿Eliminar usuario?' }, class: "mr-2 btn-icon btn-icon-only btn btn-danger btn-sm" %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
            <script>$(document).ready(function() {$('#table-users').DataTable();} );</script>
          </div>
        </div>
        <br>
        <div class="d-block text-center card-footer">
          <%= link_to 'Crear usuario', new_user_path, class:"btn-wide btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>